<div class="container" data-step="1" data-intro="This is a dashboard page for displaying Thesis location and status">
    <a  class="waves-effect waves-light btn-large" onclick="javascript:introJs().start();" style="position: fixed;right: 3px;bottom: 3px;">Dashboard Page <i class="material-icons left">help</i></a>

    <div class="row">

#TODO <br>
* Using timeline style <br>
* Bug in the log add <br>
<input data-step="3" data-intro="First need to input student ID eg. g19137" type="text" id="input" ng-model="dashboardCtrl.id" placeholder="STUDENT ID"><button class="btn btn-primary" onclick="check()" ng-click="dashboardCtrl.checkLog()" data-step="4" data-intro="Click on Check">Check</button>
  





<div>

<div class="col m12 s12" data-step="2" data-intro="This section will visualize the location of the thesis">
    <div class="ver" data-step="5" data-intro="The wheel progressbar will show the progress">
        <div class="me circle">
            <strong></strong>
        </div>
        <hr>
        <div class="cgs circle">
            <strong></strong>
        </div>
        <hr>
        <div class="Examiner" id="Examiner" style="flex-direction:column">
            
        </div>
        
    </div>
</div>

  <div class="col m12 s12" data-step="6" data-intro="Thesis Log will be displayed here">
      <table class="centered responsive-table dataTable">
        <thead>
          <tr>
              <th>Thesis ID</th>
              <th>Checkpoint</th>
              <th>Time</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="log in dashboardCtrl.logs">
            <td>{{log.thesisId}}</td>
            <td>{{log.checkpoint | translate}}</td>
            <td>{{log.time | date : "medium"}}</td>
          </tr>
        </tbody>
      </table>
  </div>

</div>

</div>


</div>

<style>
    .round{
        display: flex;
    }
    .roundcol{
        display: flex;
        flex-direction: column
    }
    .hor{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center
    }
    .ver{
        display: flex;
        flex-direction:row;
        justify-content: center;
        align-items: center
    }
    .Examiner{
        display: flex;
        justify-content: space-around;
        width: 100%
    }
    .circle {
        width: 100px;
        margin: 6px 6px 20px;
        display: inline-block;
        position: relative;
        text-align: center;
        line-height: 1.2;
    }
    .circle canvas {
        vertical-align: top;
    }
    .circle strong {
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        text-align: center;
        line-height: 40px;
        font-size: 30px;
        }
    hr {
        border: 0;
        clear:both;
        display:block;
        width: 96%;
        background-color:#000000;
        height: 1px;
    }
</style>

<script>
  $('.me.circle').circleProgress({
    value: 0,
    fill: {gradient: [['#0681c4', .5], ['#4ac5f8', .5]], gradientAngle: Math.PI}
  }).on('circle-animation-progress', function(event, progress, stepValue) {
    $(this).find('strong').text("Me");
  });
  $('.cgs.circle').circleProgress({
    value: 0,
    fill: {gradient: [['#0681c4', .5], ['#4ac5f8', .5]], gradientAngle: Math.PI}
  }).on('circle-animation-progress', function(event, progress, stepValue) {
    $(this).find('strong').text("CGS");
  });
</script>

<script>

    var check = function(){
        id = document.getElementById('input').value
        
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/api/thesis/studentId/"+id, true);
            xhttp.send()
            
            xhttp.onload = function(data){
                var myNode = document.getElementById("Examiner");
                while (myNode.firstChild) {
                    myNode.removeChild(myNode.firstChild);
                }
                response = JSON.parse(data.target.response);
                console.log(response);
                console.log('length',response.length);
                
                key = response[0].checkpoint
                console.log(key);

                if(key===1){
                    console.log('checkpont 1');
                    $('.me.circle').circleProgress({
                        value: 1,
                        fill: {gradient: [['#0681c4', .5], ['#4ac5f8', .5]], gradientAngle: Math.PI}
                    }).on('circle-animation-progress', function(event, progress, stepValue) {
                        $(this).find('strong').text("Me");
                    });

                    $('.cgs.circle').circleProgress({
                        value: 0.5,
                        fill: {gradient: [['#0681c4', .5], ['#4ac5f8', .5]], gradientAngle: Math.PI}
                    }).on('circle-animation-progress', function(event, progress, stepValue) {
                        $(this).find('strong').text("CGS");
                    });
                }
                else if(key>1){
                    $('.me.circle').circleProgress({
                        value: 1,
                        fill: {gradient: [['#0681c4', .5], ['#4ac5f8', .5]], gradientAngle: Math.PI}
                    }).on('circle-animation-progress', function(event, progress, stepValue) {
                        $(this).find('strong').text("Me");
                    });

                    $('.cgs.circle').circleProgress({
                        value: 1,
                        fill: {gradient: [['#0681c4', .5], ['#4ac5f8', .5]], gradientAngle: Math.PI}
                    }).on('circle-animation-progress', function(event, progress, stepValue) {
                        $(this).find('strong').text("CGS");
                    });
                    
                    for (var index = 0; index < response.length; index++) {
                    $('.Examiner').append('<div class="'+index+' circle"><strong></strong></div>')
                    if(response[index].checkpoint===3){
                        value1 = 0.5
                    }
                    else if(response[index].checkpoint===4){
                        value1 = 1
                    }
                    else{
                        value1 = 0
                    }
                    $('.'+index+'.circle').circleProgress({
                        value: value1,
                        fill: {gradient: [['#0681c4', .5], ['#4ac5f8', .5]], gradientAngle: Math.PI}
                    }).on('circle-animation-progress', function(event, progress, stepValue) {
                        $(this).find('strong').text("Examiner");
                    });
                }
                }
            }

    }

</script>

