<div class="container text-center row">

#TODO <br>
* Get feedback on user experience <br>
* Develop test cases for this features <br>

    <div class="container">
        <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
      <div class="collapsible-body"><span>Fill all the required field such as Thesis Title,Student Id,Student Name,Examiner Id and Examiner Name and submit it.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body"><span>To generate QRcode click at the Thesis Title(red color) from the table.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><span>Go to <a href="/dashboard">dashboard</a> and scan the generated QRcode.</span></div>
    </li>
  </ul>
    </div>

    
    <div class="col s4">
        <form class="thing-form" style="margin: 0 auto; width:250px;">
            <p class="input-group">
                <div class="input-field">
                    <input type="text" class="form-control" placeholder="Thesis Title" ng-model="thesisCtrl.thesisName">
                </div>
                <div class="input-field">
                    <input autocomplete="off" type="text" id="studentId" class="form-control" placeholder="student id" ng-model="thesisCtrl.studentId">
                </div>
                <div class="input-field">
                    <input autocomplete="off" type="text" id="studentName" class="form-control" placeholder="student name" ng-model="thesisCtrl.studentName">
                </div>
                <div class="input-field">
                    <input autocomplete="off" type="text" id="examinerId" class="form-control" placeholder="examiner id" ng-model="thesisCtrl.examinerId">
                </div>
                <div class="input-field">
                    <input autocomplete="off" type="text" id="examinerName" class="form-control" placeholder="examiner name" ng-model="thesisCtrl.examinerName">
                </div>

                <button type="submit" class="btn btn-primary" ng-click="thesisCtrl.addThesis()">Add New</button>

            </p>
        </form>
    </div>

    <div class="col s8">
        <input type="text" ng-change="thesisCtrl.search(thesisCtrl.keyword)" ng-model="thesisCtrl.keyword" placeholder="Search Thesis Title">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Student ID</th>
                    <th>Student Name</th>
                    <th>Examiner ID</th>
                    <th>Examiner Name</th>
                    <th>Checkpoint</th>
                    <th></th>
                </tr>
            </thead>

            <tbody ng-repeat="thesis in thesisCtrl.awesomeThesis">
                <tr>
                    <td ui-sref=".details({id:thesis._id})">{{thesis.name}}</td>
                    <td>{{thesis.studentId}}</td>
                    <td ng-click="thesisCtrl.fillForm(thesis)" class="flow-text">{{thesis.studentName}}</td>
                    <td>{{thesis.examinerId}}</td>
                    <td>{{thesis.examinerName}}</td>
                    <td>{{thesis.checkpoint | checkpoint}}</td>
                    <td><button type="button" class="close btn waves-effect waves-light" ng-click="thesisCtrl.deleteThesis(thesis)">&nbsp;&times;&nbsp;</button></td>
                </tr>
            </tbody>
        </table>
    </div>
<!--<a ui-sref=".details({id:1})" class="btn btn-primary">Details</a>-->
</div>

<div ui-view></div>

<style>
    [ui-sref]{
        color:red
    }
</style>

<script>
    $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>