<div class="container text-center row">

    
    <div class="col s4">
        <form class="thing-form" style="margin: 0 auto; width:250px;">
            <p class="input-group">
                <div class="input-field">
                    <input type="text" class="form-control" placeholder="Thesis Name" ng-model="thesisCtrl.thesisName">
                </div>
                <div class="input-field">
                    <input autocomplete="off" type="text" id="studentId" class="form-control" placeholder="student id" ng-model="thesisCtrl.studentId">
                </div>
                <div class="input-field">
                    <input autocomplete="off" type="text" id="examinerId" class="form-control" placeholder="examiner id" ng-model="thesisCtrl.examinerId">
                </div>

                <!--<div class="input-field col s12">
                    <select ng-model="thesisCtrl.checkpoint">
                    <option value="" disabled selected>Choose your checkpoint</option>
                    <option value="1">CIS</option>
                    <option value="2">CGS</option>
                    <option value="3">EXAMINER</option>
                </select>
                </div>-->

                

                <button type="submit" class="btn btn-primary" ng-click="thesisCtrl.addThesis()">Add New</button>

            </p>
        </form>
    </div>

    <div class="col s8">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Student ID</th>
                    <th>Examiner ID</th>
                    <th>Checkpoint</th>
                    <th></th>
                </tr>
            </thead>

            <tbody ng-repeat="thesis in thesisCtrl.awesomeThesis">
                <tr>
                    <td ui-sref=".details({id:thesis._id})">{{thesis.name}}</td>
                    <td>{{thesis.studentId}}</td>
                    <td>{{thesis.examinerId}}</td>
                    <td>{{thesis.checkpoint | checkpoint}}</td>
                    <td><button type="button" class="close btn waves-effect waves-light" ng-click="thesisCtrl.deleteThesis(thesis)">&nbsp;&times;&nbsp;</button></td>
                </tr>
            </tbody>
        </table>
    </div>
<!--<a ui-sref=".details({id:1})" class="btn btn-primary">Details</a>-->
</div>

<div ui-view></div>


<script>
    $(document).ready(function() {
        $('select').material_select();
    });
    $('#studentId').autocomplete({
        data: {
            "19137": null,
            "17989": null,
            "19073": null
        },
        limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
        onAutocomplete: function(val) {
            // Callback function when value is autcompleted.
        },
        minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
    });
    $('#examinerId').autocomplete({
        data: {
            "19137": null,
            "17989": null,
            "19073": null
        },
        limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
        onAutocomplete: function(val) {
            // Callback function when value is autcompleted.
        },
        minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
    });
</script>