<div class="container" data-step="1" data-intro="This is a thesis submission creation page">
    <a  class="waves-effect waves-light btn-large" onclick="javascript:introJs().start();">Thesis Page <i class="material-icons left">help</i></a>
<div class="container text-center row">
    

#TODO <br>
* Get feedback on user experience <br>
* Develop test cases for this features <br>

    
    <div class="col s4"  data-step="2" data-intro="This form is to register student thesis with the examiner.">
        <form class="thing-form" style="margin: 0 auto; width:250px;">
            <p class="input-group">
                <div class="input-field">
                    <input type="text" class="form-control" placeholder="Thesis Title" ng-model="thesisCtrl.thesisName">
                </div>
                <div class="input-field">
                    <input autocomplete="off" type="text" id="studentId" class="form-control" placeholder="student id" ng-model="thesisCtrl.studentId">
                </div>
                <div class="input-field">
                    <input autocomplete="off" type="text" id="studentName" class="form-control" placeholder="student name" ng-model="thesisCtrl.studentName">
                </div>
                <div class="input-field">
                    <input autocomplete="off" type="text" id="examinerId" class="form-control" placeholder="examiner id" ng-model="thesisCtrl.examinerId">
                </div>
                <div class="input-field">
                    <input autocomplete="off" type="text" id="examinerName" class="form-control" placeholder="examiner name" ng-model="thesisCtrl.examinerName">
                </div>
                <div class="input-field">
                    <input autocomplete="off" type="text" id="examinerPhone" class="form-control" placeholder="+60123456789" ng-model="thesisCtrl.examinerPhone">
                </div>

                <button type="submit" class="btn btn-primary" ng-click="thesisCtrl.addThesis()">Add New</button>

            </p>
        </form>
    </div>

    <div class="col s8" data-step="3" data-intro="This area is for displaying all the info about thesis">
        <input type="text" ng-change="thesisCtrl.search(thesisCtrl.keyword)" ng-model="thesisCtrl.keyword" placeholder="Search Thesis Title" data-step="4" data-intro="You can filter thesis based on title">
        <table class="centered responsive-table" data-step="5" data-intro="All the thesis will be displayed here.">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Student ID</th>
                    <th>Student Name</th>
                    <th>Examiner ID</th>
                    <th>Examiner Name</th>
                    <th>Examiner Phone</th>
                    <th>Checkpoint</th>
                    <th></th>
                </tr>
            </thead>

            <tbody ng-repeat="thesis in thesisCtrl.awesomeThesis" >
                <tr ng-class="thesisCtrl.time(thesis.dateReceived)">
                    <td ui-sref=".details({id:thesis._id})" data-step="6" data-intro="You can click at the title to view the QRcode">{{thesis.name}}</td>
                    <td>{{thesis.studentId}}</td>
                    <td ng-click="thesisCtrl.fillForm(thesis)" class="flow-text" data-step="7" data-intro="You can click at the name to auto refill the forms">{{thesis.studentName}}</td>
                    <td>{{thesis.examinerId}}</td>
                    <td>{{thesis.examinerName}}</td>
                    <td>{{thesis.examinerPhone}}</td>
                    <td>{{thesis.checkpoint | checkpoint}}</td>
                    <td><button type="button" class="close btn waves-effect waves-light" ng-click="thesisCtrl.deleteThesis(thesis)">&nbsp;&times;&nbsp;</button></td>
                </tr>
            </tbody>
        </table>
    </div>
<!--<a ui-sref=".details({id:1})" class="btn btn-primary">Details</a>-->
</div>

</div>

<div ui-view></div>

<style>
    .three{
        background-color: red
    }
    .two{
        background-color: yellow
    }
    .one{
        background-color: green
    }
</style>
